## 1. What will be the output of the following Python code snippet?

- a) prints all the vowels in my_string
- b) prints all the consonants in my_string
- c) prints all characters of my_string that aren’t vowels
- d) prints only on executing print(k)

In [5]:
my_string = "List Comprehension"
k = [print(i) for i in my_string if i not in "aeiou"]

L
s
t

C
m
p
r
h
n
s
n

## 2. What is the output of print(k) in the following Python code snippet?

- a) all characters of my_string that aren’t vowels
- b) a list of Nones
- c) list of Trues
- d) list of Falses

In [11]:
my_string = "List Comprehension"
k = [print(i) for i in my_string if i not in "aeiou"]
print(k)

L
s
t

C
m
p
r
h
n
s
n
[None, None, None, None, None, None, None, None, None, None, None, None]

# 3. What will be the output of the following Python code snippet?

- a) [(‘HELLO’, 5), (‘WORLD’, 5)]
- b) [(‘H’, 1), (‘E’, 1), (‘L’, 1), (‘L’, 1), (‘O’, 1), (‘ ‘, 1), (‘W’, 1), (‘O’, 1), (‘R’, 1), (‘L’,1), (‘D’, 1)]
- c) [(‘HELLO WORLD’, 11)]
- d) none of the mentioned

In [ ]:
my_string = "hello world"
k = [(i.upper(), len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

# 4. Which of the following is the correct expansion of list_1 = [expr(i) for i in list_0 if func(i)]?

In [ ]:
# a
list_1 = []
for i in list_0:
    if func(i):
        list_1.append(i)

In [ ]:
# b
for i in list_0:
    if func(i):
        list_1.append(expr(i))

In [ ]:
# c
list_1 = []
for i in list_0:
    if func(i):
        list_1.append(expr(i))

In [ ]:
# d 
# none of the mentioned

# 5. What will be the output of the following Python code snippet?

- a) [0, 1, 2]
- b) [1, 2, 5]
- c) error, **+ is not a valid operator
- d) error, ‘;’ is not allowed

In [17]:
x = [i**+1 for i in range(3)]; print(x);

[0, 1, 2]

# 6. What will be the output of the following Python code snippet?

- a) [‘h’, ‘e’, ‘l’, ‘l’, ‘o’]
- b) ‘hello’
- c) [‘hello’]
- d) hello

In [18]:
print([i.lower() for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']

# 7. What will be the output of the following Python code?

- a) 1
- b) 4
- c) 5
- d) 8

In [19]:
def addItem(listParam):
    listParam += [1]

mylist = [1, 2, 3, 4]
addItem(mylist)
print(len(mylist))

5

# 8. What will be the output of the following Python code?

- a) None [3, 4, 5]
- b) None [1, 2, 3]
- c) [3, 4, 5] [1, 2, 3]
- d) [3, 4, 5] None

In [20]:
def increment_items(L, increment):
    i = 0
    while i < len(L):
        L[i] = L[i] + increment
        i = i + 1

values = [1, 2, 3]
print(increment_items(values, 2))
print(values)

None
[3, 4, 5]

# 9. What will be the output of the following Python code?

- a) Return a list containing every third item from L starting at index 0
- b) Return an empty list
- c) Return a list containing every third index from L starting at index 0
- d) Return a list containing the items from L starting from index 0, omitting every third item

In [22]:
def example(L):
    """ (list) -> list """

    i = 0
    result = []
    while i < len(L):
        result.append(L[i])
        i = i + 3
    
    return result

In [23]:
L = [1, 3, 4, 6]
res = example(L)
res

[1, 6]

## 8th Nov 2025

In [1]:
a=(1,2,3,4)
a[1:-1]

(2, 3)

In [2]:
a=(2,3,4)
sum(a,3)

12

In [3]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [10]:
a=(1,2) # can't edit an object but you can delete the entire tuple
del a

In [11]:
a=(0,1,2,3,4)
b=slice(0,2)
a[b]

(0, 1)

In [12]:
for i in range(int(2.0)):
    print(i)

0
1

In [14]:
for i in range(float('inf')):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [15]:
for i in range(int(float('inf'))):
    print(i)

OverflowError: cannot convert float infinity to integer

In [17]:
for i in [1,2,3,4][::,-1]:
    print(i)

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
/tmp/ipykernel_67489/3169485720.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  for i in [1,2,3,4][::,-1]:

TypeError: list indices must be integers or slices, not tuple